<!-- Main Menu Header -->
<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
    <ion-title text-uppercase>Perícias</ion-title>
    </ion-navbar>
</ion-header>
<!-- Main Menu List -->
<ion-content>
    <ion-grid no-padding>
        <ion-row *ngIf="data != null">
        <ion-col col-12>
            <ion-list no-margin>
            
            <ion-list-header no-padding no-margin transparent>
                <ion-searchbar placeholder="Buscar..." [(ngModel)]="searchTerm" (ionInput)="getItems($event)" style="background-color: transparent !important;"></ion-searchbar>
            </ion-list-header>

            <li *ngFor="let group of listFiltered | async">
              <div class="collapsible-header" (click)="toggleGroup(group)">
                <ion-item no-padding>
                  <ion-thumbnail item-start no-margin>
                    <img src="assets/images/icons/{{group.Icone}}" alt="{{group.title}}" />
                  </ion-thumbnail>
                  <h2 padding-left item-title text-wrap>{{group.Nome}}</h2>
                  <h3 padding-left item-subtitle text-wrap>{{group.HabilidadeChave}} {{group.PenalidadeArmadura?' • ':''}} {{group.PenalidadeArmadura}} {{group.SomenteTreinada?' • ':''}} {{group.SomenteTreinada}}</h3>
                </ion-item>
              </div>
              <!-- List big image Body -->
              <div class="item-accordion" [ngClass]="{'active': isGroupShown(group) }" [hidden]="!isGroupShown(group)">
                <ion-item transparent no-lines style="color: white" (click)="toggleGroup(group)">
                    <h2 padding-left text-wrap>{{group.Nome}}</h2>
                    <h2 padding-left text-wrap>{{group.Descricao}}</h2>
                </ion-item>
                <ion-item transparent *ngFor="let lvl of group.Exemplos" (click)="toggleGroup(group)">
                  <h2 padding-left text-wrap><div *ngIf="lvl" style="color: white"><b>{{lvl.NomeExemplo}}</b>: {{lvl.DescricaoExemplo}}</div></h2>
                </ion-item>
              </div>
              <!--end-->
            </li>
            </ion-list>
        </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
