<!-- Main Menu Header -->
<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
    <ion-title text-uppercase>Raças</ion-title>
    </ion-navbar>
</ion-header>
<!-- Main Menu List -->
<ion-content>
    <ion-grid no-padding>
        <ion-row *ngIf="data != null">
        <!-- List -->
        <ion-col col-12>
            <ion-list no-margin>
            
            <ion-list-header no-padding no-margin transparent>
                <ion-searchbar placeholder="Buscar..." [(ngModel)]="searchTerm" (ionInput)="getItems($event)" style="background-color: transparent !important;"></ion-searchbar>
                
            </ion-list-header>

            <li *ngFor="let group of listFiltered | async">
              <!-- List big image Header -->
              <div class="collapsible-header" (click)="toggleGroup(group)">
                <ion-item no-padding>
                  <ion-thumbnail item-start no-margin>
                      <img src="../assets/images/icons/{{group.Nome}}.png" alt="{{group.title}}" />
                  </ion-thumbnail>
                  <h2 padding-left item-title text-wrap>{{group.Nome}}</h2>
                </ion-item>
              </div>
              <!-- List big image Body -->
              <div class="item-accordion" [ngClass]="{'active': isGroupShown(group) }" [hidden]="!isGroupShown(group)">
                <ion-item transparent style="color: white" *ngFor="let v of group.Vantagens" (click)="toggleGroup(group)">
                    <h2 padding-left text-wrap>{{v}}</h2>
                </ion-item>
              </div>
              <!--end-->
            </li>
            </ion-list>
        </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
