<!-- Main Menu Header -->
<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
    <ion-title text-uppercase>Classes</ion-title>
    </ion-navbar>
</ion-header>
<!-- Main Menu List -->
<ion-content>
    <ion-grid no-padding>
        <ion-row *ngIf="data != null">
        <!-- List -->
        <ion-col col-12>
        <ion-list no-padding no-margin transparent>
        <ion-item padding-top no-lines *ngIf="data != null">
            <ion-label>Tipo Classes:</ion-label>
            <ion-select multiple="true" interface="action-sheet" [(ngModel)]="tipoClassesSelecionados" (ngModelChange)="getItems($event)">
                <ion-option *ngFor="let tipo of tipoClasses;" [value]="tipo">{{tipo}}</ion-option>
            </ion-select>
        </ion-item>
        </ion-list>
        </ion-col>
        
        <ion-col col-12>
            <ion-list no-margin>
            
            <ion-list-header no-padding no-margin transparent>
                <ion-searchbar placeholder="Buscar..." [(ngModel)]="searchTerm" (ionInput)="getItems($event)" style="background-color: transparent !important;"></ion-searchbar>
                
            </ion-list-header>

            <li *ngFor="let group of listFiltered | async">
              <div class="collapsible-header" (click)="toggleGroup(group)">
                <ion-item no-padding>
                  <ion-thumbnail item-start no-margin>
                    <img src="../assets/images/icons/{{group.Nome}}.png" alt="{{group.title}}" />
                  </ion-thumbnail>
                  <h2 padding-left item-title>{{group.Nome}}</h2>
                  <h3 padding-left item-subtitle>PV Inicial: {{group.PVInicial}} </h3>
                  <h3 padding-left item-subtitle>PV por Nível: {{group.PV}}</h3>
                </ion-item>
              </div>
              <!-- List big image Body -->
              <div class="item-accordion" [ngClass]="{'active': isGroupShown(group) }" [hidden]="!isGroupShown(group)">
                <ion-item transparent no-lines style="color: white">
                    <h2 padding-left>PV Inicial: {{group.PVInicial}}</h2>
                    <h2 padding-left>PV por Nível: {{group.PV}}</h2>
                    <h2 padding-left>Perícias: {{group.Pericias}}</h2>
                    <h2 padding-left>Perícias de Classe: {{group.PericiasClasse}}</h2>
                    <h2 padding-left>Talentos: {{group.Talentos}}</h2>
                    <br/>
                    <h2 *ngFor="let lvl of group.Niveis" padding-left><div *ngIf="lvl">Lvl{{lvl.Nivel}}: BBA:{{lvl.BBA}} - {{lvl.Habilidade}}</div></h2>
                </ion-item>
              </div>
              <!--end-->
            </li>
            </ion-list>
        </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
